.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 90%;
  border-radius: 1rem;
  overflow: scroll;
  width: 80%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* Hide scrollbar for chrome, safari, opera */
.app__videos::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for chrome, safari, opera */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
